<div class="home-wrapper-div">
  <div class="home-main-container">
    <div class="home-button-container">
      <button
        mat-raised-button
        color="primary"
        class="my-button"
        (click)="toggleFilters('Think Tank')"
      >
        Filter Think Tanks
      </button>
      <button
        mat-raised-button
        color="primary"
        class="my-button"
        (click)="toggleFilters('Bookstore')"
      >
        Filter Bookstores
      </button>
      <button
        mat-raised-button
        color="primary"
        class="my-button"
        (click)="toggleFilters('Newspaper')"
      >
        Filter Newspapers
      </button>
      <button
        mat-raised-button
        color="primary"
        class="my-button"
        [disabled]="filters.size < 1"
        (click)="clearFilters()"
      >
        Reset Filters
      </button>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div *ngFor="let event of displayedEvents">
      <app-card [event]="event"></app-card>
    </div>
  </div>
</div>
